---
---

@import 'bootstrap/bootstrap';
@import 'solarized-dark';


$primary: #8d021f; // burgundy

.highlight {
  pre {
    font-size: 16px;
    padding: 10px;
    code {
      color: #b6b6b6;
    }
  }
}
