---
layout: default
---

<div class="container">
  <div class="card-columns">
    {% for post in site.posts %}
    <a style="color:black; text-decoration:none;" href="{{ post.url | prepend: site.baseurl }}"> 
    <div class="card ">
      <div class="card-body">
          <h3> {{ post.title }} </h3>
          {{ post.excerpt | strip_html | truncate: 120 }}
      </div>
    </div>
    </a>
    {% endfor %}
  </div>
</div> 



<!--
{% for post in site.posts %}
<h4><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
{{ post.excerpt | strip_html }}
{% endfor %}
-->
