<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container">
    <h4 class="text-center">{{ page.title }}</h4>
    {{ content | toc }}
    </div>
    {% include foot.html %}
  </body>
</html>
